<div class="container-fluid">
    <div class="container container-div">
        <div class="owl-carousel">
            {{#each userData}}
            <div class="card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">{{this.name}}</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr>
                    <p class="user-pgrm">{{this.program}}</p>
                    <p class="user-role">{{this.role}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/javascripts/Owl_Carousel.js"></script>