<div class="container-fluid">
    <div class="container container-div">
        <div class="owl-carousel">
            <div class="card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">Milan1</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr>
                    <p class="user-pgrm">{{this.program}}</p>
                    <p class="user-role">{{this.role}}</p>
                </div>
            </div>
            <div class="card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?seed={{this.name}}" alt="Avatar"
                        class="userimg img-fluid">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">Milan2</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr>
                    <p class="user-pgrm">{{this.program}}</p>
                    <p class="user-role">{{this.role}}</p>
                </div>
            </div>
            <div class="card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?seed={{this.name}}" alt="Avatar"
                        class="userimg img-fluid">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">Milan3</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr>
                    <p class="user-pgrm">{{this.program}}</p>
                    <p class="user-role">{{this.role}}</p>
                </div>
            </div>
            <div class="card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?seed={{this.name}}" alt="Avatar"
                        class="userimg img-fluid">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">Milan4</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr>
                    <p class="user-pgrm">{{this.program}}</p>
                    <p class="user-role">{{this.role}}</p>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 1000,
            margin: 10,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 4
                },
                1000: {
                    items: 6
                }
            }
        })
    });
</script>