<div class="container-fluid outer-container">
    <div class="inner-container">

        {{#if mentorStatus}}
        <h3 class="header"><span class="badge counter">{{mentors.length}}</span>&nbsp;Mentors</h3>
        {{#each mentors}}
        <div class="corousel">
            <div class="card corousel-card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?radius=50&seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">{{this.name}}</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr class="m-0">
                    <div>
                        <p class="user-role">{{this.role}}</p>
                        <p class="user-pgrm">{{this.program}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#if allMentorsStatus}}
        <h3 class="header"><span class="badge counter">{{allMentors.length}}</span>&nbsp;Mentors</h3>
        <div class="owl-carousel">
            {{#each allMentors}}
            <div class="card owl-corousel-card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?radius=50&seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">{{this.name}}</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr class="m-0">
                    <div>
                        <p class="user-role">{{this.role}}</p>
                        <p class="user-pgrm">{{this.program}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}


        {{#if learnersStatus}}
        <h3 class="header"><span class="badge counter">{{learners.length}}</span>&nbsp;Learners</h3>
        {{#each learners}}
        <div class="corousel">
            <div class="card corousel-card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?radius=50&seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">{{this.name}}</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr class="m-0">
                    <div>
                        <p class="user-role">{{this.role}}</p>
                        <p class="user-pgrm">{{this.program}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#if allLearnersStatus}}
        <h3 class="header"><span class="badge counter">{{allLearners.length}}</span>&nbsp;Learners</h3>
        <div class="owl-carousel">
            {{#each allLearners}}
            <div class="card owl-corousel-card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?radius=50&seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">{{this.name}}</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr class="m-0">
                    <div>
                        <p class="user-role">{{this.role}}</p>
                        <p class="user-pgrm">{{this.program}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}


        {{#if exploresStatus}}
        <h3 class="header"><span class="badge counter">{{explores.length}}</span>&nbsp;Explores</h3>
        {{#each explores}}
        <div class="corousel">
            <div class="card corousel-card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?radius=50&seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">{{this.name}}</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr class="m-0">
                    <div>
                        <p class="user-role">{{this.role}}</p>
                        <p class="user-pgrm">{{this.program}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#if allExploresStatus}}
        <h3 class="header"><span class="badge counter">{{allExplores.length}}</span>&nbsp;Explores</h3>
        <div class="owl-carousel">
            {{#each allExplores}}
            <div class="card owl-corousel-card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/initials/svg?radius=50&seed={{this.name}}" alt="Avatar"
                        class="userimg">
                </div>
                <div class="user-details-div">
                    <h4 class="user-name">{{this.name}}</h4>
                    <p class="user-email">{{this.email}}</p>
                    <hr class="m-0">
                    <div>
                        <p class="user-role">{{this.role}}</p>
                        <p class="user-pgrm">{{this.program}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}

    </div>
</div>

<script src="/javascripts/Owl_Carousel.js"></script>